.back-to-home
    display: flex
    justify-content: center
    align-items: center
    border: 1px solid white
    border-radius: 10px
    width: 8rem
    height: 3rem
    margin: 0 0 2rem 1rem 

    a 
        text-decoration: none !important
        color: white !important
        font-weight: bold
    a:hover 
        font-size: 16.5px

